body {
  display: flex;
  font-family: "Asap", sans-serif;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 175, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 175, 0, 0.6857142857142857) 0%,
    rgba(171, 0, 255, 0.7666666666666666) 100%
  );
}

h1 {
  color: azure;
  text-shadow: 1px 1px 2px rgba(171, 0, 255, 0.7666666666666666);
  text-align: center;
}

.container {
  display: flex;
  background-color: rgb(104, 104, 104);
  width: 400px;
  height: auto;
  justify-content: center;
  margin: 0;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 1em black;
  margin-top: 50px;
}

#input-task {
  border-radius: 10px;
  margin-right: 10px;
  width: 250px;
  box-shadow: 1px 1px 1px black;
}

::placeholder {
  text-align: center;
  font-size: 15px;
}

#add-button {
  border-radius: 8px;
  box-shadow: 1px 1px 1px black;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  width: 400px;
  height: auto;
  border-radius: 20px;
  background-color: rgb(104, 104, 104);
  color: azure;
  text-shadow: 1px 1px 2px rgba(171, 0, 255, 0.7666666666666666);
  box-shadow: 0 0 1em black;
  padding: 5px;
  padding-left: 10px;
  margin-left: -40px;
  margin-bottom: 10px;
  justify-content: space-between;
}

li i {
  cursor: pointer;
}

li button {
  cursor: pointer;
  width: 40px;
  border-radius: 10px;
}

.complete-task {
  background: rgb(51, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(51, 255, 0, 1) 0%,
    rgba(35, 143, 19, 1) 100%
  );
  text-decoration: line-through black;
}
